.addItem-form {
	padding: 20px 30px;
	border-radius: 20px;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
	position: relative;
	min-height: 500px;
	min-width: 350px;
	max-width: 1200px;
	width: calc(100vw - 150px);
	margin: 0 auto;
	text-align: start;
}
.addItem-form form {
}

.image {
	height: 200px;
}
.btn-upload {
	width: 100px;
}
