.banner-container {
	margin: 0 calc(1vw + 20px);
}
.banner {
	height: 50vh;
	max-height: 500px;
	background-size: cover;
	background-position: center;
	transition: 0.5s;
	border-radius: 30px;
	object-fit: cover;
	position: relative;
}
.banner img {
	border-radius: 30px;
	height: 50vh;
	max-height: 500px;
	transition: 0.5s;
	border-radius: 30px;
	object-fit: cover;
}
.banner-body {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
